<div class="container">
    <div class="content">
        <div class="logo">
            <img src="../../../assets/images/devfest_kenya_logo.png" alt="DevFest Kenya 2020">

            <div class="timeline">
                <div class="date">
                    <mat-icon class="mat-18">calendar_today</mat-icon>
                    <span>26th - 28th Nov 2021</span>
                </div>
                <span>|</span>
                <div class="online">
                    <mat-icon class="mat-18">event_seat</mat-icon>
                    <span>Hybrid</span>
                </div>
            </div>

            <div class="register">
                <a class="register-link"
                   href="https://gdg.community.dev/events/details/google-gdg-kisumu-presents-devfest-kenya-2021/"
                   target="_blank" rel="noopener noreferrer">RSVP</a>

              <a class="register-link" href="https://sessionize.com/gdg-devfest-kenya-2021"
                 target="_blank" rel="noopener noreferrer">Call for Speakers</a>

                <a *ngIf="isActive" class="register-link" href="https://discord.gg/ctJJDSm" target="_blank"
                    rel="noopener noreferrer">LIVE CHAT</a>
            </div>
        </div>

        <div class="preview">
            <iframe style="border-radius: 5px;" width="560" height="415" src="https://www.youtube.com/embed/1xNMMdMDnW4"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>
